#Hello {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 30px;
  border-width : 1px;
  text-align: center;
  justify-content: center;
  border-radius: 7px;
}
#centered {
  justify-content: center;
  height: 80px;
  border-width : 10px;
}
.whitespace {
  height : 30px;
}
.center {
  text-align: center;
  justify-content: center;
}
.influence{
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position:absolute;
  width: 100%;
  text-align: left;
  z-index: 2;
}
.date {
  margin-top: 6px;
  margin-bottom: 6px;
}
#centerdiv {
  justify-content: center;
  text-align: center;
  border-width: thin;
}
.container {
  padding : 30px;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .remove-breaks {
    display: none;
  }
  .container{
    width : 100%;
    padding: 5px;
  }
}
@media (min-width : 769px){
  .remove-breaks2 {
    display: none;
  }
}

body {
  font: 16px Arial;
}
.autocomplete {
  width : 100%;
}
.autocomplete-items {
  width: 90%;
}
